<div class="container">
  <div class="row mt-5">
    <div class="col">
      <div class="card" style="background-color: rgb(230, 227, 223);">
        <div class="card-body">
          <label for="" class="form-label">بحث</label>
          <input type="text" class="form-control" [(ngModel)]="search">
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <td>رقم الهاتف</td>
                <td> اسم الهاتف</td>
                <td>سعر الهاتف </td>
              </tr>
            </thead>
            <tbody *ngFor="let item of find(phone)"> 
              <tr *ngIf="item.price< 3000">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.price}}</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>